@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: tilt warp;
}

.invert {
    filter: invert(1);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 20px;
    background-color: rgb(33, 33, 33);
}

header img {
    width: 10rem;
}

header nav li {
    display: inline;
}

header nav li a {
    text-decoration: none;
    color: white;
}

header nav li a:hover {
    color: red;
    transition: 0.5s;
}

header input {
    border-radius: 50px;
    background-color: rgb(33, 33, 33);
    border-color: white;
    color: white;
    padding: 5px 10px;
    width: 120px;
}



.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

img {
    width: 100%;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}

#featured img {
    display: block;
    width: 100%;
  
  }
  
  #membership .flex-item {
    padding: 2rem;
  }
  
  .highlight {
    background-color: rgb(70, 68, 68);
  
  }
  
  .memberfoto {
    flex: 0.4;
    background-image: url(fotos/membership.webp);
    background-size: cover;
    background-position: center;
    align-self: stretch;
  }

  #membership p{
    color: rgb(70, 68, 68);    
}

footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

.centertext {
    text-align: center;
}

footer ul li a{
    text-decoration: none;
    color: #666;
}

footer ul li a:hover{
    color: #fff;
    transition: 0.5s;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a, footer ul:first-child li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
footer div #socials i{
    color: #fff;
}