body{
    margin: 0vw;
    padding: 0vw;
    background: url(jaja.jpg) no-repeat;
    background-size: cover;
    display: flex;
  }
.box{
    width: 900px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
 .box header{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }

  #about{
    display: flex;
    padding: 4% 0;
  }

  .left{
      /* with: 30%; */
    flex: 3;
  }

.right{
  /* with: 70%; */
  flex: 7;
}

ul{
  text-decoration: none;
  list-style: none;
}

a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
a:hover{
    color: blac-;
    transition: 0.5s;
  }
.box li a:hover{
    color: #b9b9b9;
  }
  footer{
    display: flex;
  }